body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.portfolio-item {
  margin-bottom: 30px;
}

.pagination {
  margin-bottom: 30px;
}
.carousel-control-prev,
.carousel-control-next,
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 10px;
  width: 10px;
  outline: none;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
  background-image: none;
}
.carousel-control-next,
.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: red;
}
.carousel-control-prev,
.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: red;
}